{{ define "main" }}

<div class="sections">
  <div class="section">
    <h2 class="section-header">About</h2>
    <div class="section-content">{{ .Content }}</div>
  </div>
  <div class="section">
    <h2 class="section-header">Projects</h2>
    <div class="section-content">
      {{ range .Site.Data.projects.projects }}
      <h3>
        {{ if isset . "link"}}
        <a href="{{ .link }}">{{ .name }}</a>
        {{ else }} {{ .name }} {{ end }}
      </h3>
      <p>{{ .description | markdownify }}</p>
      {{ end }}
    </div>
  </div>
  <div class="section">
    <h2 class="section-header">Work</h2>
    <div class="section-content">
      {{ range .Site.Data.work.work }}
      <h3>{{ .company }}, {{ .position }}</h3>
      <small>
        {{ .location }}&nbsp;&nbsp;//&nbsp;&nbsp;{{.startDate}} - {{.endDate}}
      </small>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
